/* ---- COMMON & UTILITIES */
html {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  padding: 2.5vh 0;
  background: linear-gradient(#019788 15%, #d6dbd7 15%);
}

.app-container {
  width: 80%;
  min-width: 950px;
  outline: 1px dotted lightblue;
  height: 95vh;
  clear: both;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.sidebar > nav,
.main-top > nav {
  background-color: #eaeaea;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  padding-left: 10px;
}

.icon-size {
  font-size: 22px;
  padding-right: 15px;
}

.icon-color-light {
  color: #b1b1b2;
}

.icon-color-dark {
  color: #6a7475;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ---- STYLE */
/* _SIDEBAR */
.sidebar {
  width: 35%;
  outline: 1px dotted lightblue;
  float: left;
  height: 100%;
}

/* _nav */
.sidebar nav {
  height: 70px;
  line-height: 70px;
}

.sidebar nav ul li {
  display: inline-block;
}

.sidebar nav ul li *,
.sidebar nav ul .user * {
  vertical-align: middle;
}

.sidebar nav .box-left {
  width: 60%;
  text-align: left;
}

.sidebar nav .box-right {
  width: 40%;
  text-align: right;
}

/* _notifications */
.sidebar .notifications {
  background-color: #8edafc;
  height: 70px;
  line-height: 70px;
}

.sidebar .notifications .img-container {
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  position: relative;
}

.sidebar .notifications .img-container i {
  font-size: 30px;
  color: #8edafc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar .notifications .description {
  line-height: normal;
  width: calc(100% - 70px);
}

.sidebar .notifications * {
  vertical-align: middle;
}

/* _searchbar */
.sidebar .searchbar {
  background-color: #FAFAFA;
  /* height: 50px; */
  /* line-height: 50px; */
  padding: 7px; /* uguale a padding contact list li */
}

.sidebar .searchbar .input-container {
  position: relative;
}

.sidebar .searchbar .input-container i {
  position: absolute;
  bottom: 0;
  transform: translate(10px, -50%);
}

.sidebar .searchbar .input-container input {
  padding-left: 40px;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

/* _contacts' list */
.contacts-container {
  background-color: white;
  overflow-y: scroll;
  height: calc(100% - 70px - 70px - 49px);
}

.contacts-container li {
  border-top: 1px solid #FAFAFA;
  padding: 7px;
}

.contacts-container img {
  vertical-align: text-top;
}

.contacts-container .contact-name {
  padding-left: 10px;
}

/* _MAIN */
.main-container {
  position: relative;
  height: 100%;
  float: right;
  width: 65%;
}

/* _main-top */
.main-top {
  width: 100%;
  outline: 1px dotted lightblue;
  height: calc(100% - 100px);
}

/* __nav */
.main-top nav ul li {
  display: inline-block;
}

.main-top nav .interlocutor-container {
  width: 80%;
}

.main-top nav .interlocutor-container img {
  vertical-align: middle;
}

.main-top nav .interlocutor-container .interlocutor-details {
  vertical-align: middle;
}

/* __lista messaggi */
.messages-container {
  background-image: url("../images/mine.jpg");
  overflow-y: scroll;
  /* height: calc(100% - nav - msgInput) */
}

/* _main-bottom */
.main-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: 1px dotted lightblue;
  height: 100px;
  background-color: #f2efe9;
}

.main-bottom .box {
  text-align: center;
}

.main-bottom .box-left,
.box-right {
  width: 10%;
}

.main-bottom .box-central {
  width: 80%;
}
