<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<!-- PROBLEMA CON LA DATA 
    La data viene presa in formato anglosassone (probabilmente) e sia jsDate sia formatDate restituiscono Invalid Date nel caso di Fabio e Samuele (infatti, prima data di Fabio - cambiata da me - con prime cifre minori di 13 non dà problemi). Provato: cambiare impostazioni browser e computer, caricato sito su computer italiano, modificato lang in html/head, ma problema rimane.  
-->

    <div class="wrapper">

        <div class="app-container clearfix" id="root">

            <!-- contiene navbar, notifiche, search, lista contatti (box) -->
            <aside class="sidebar float-left">
                
                <!-- navbar -->
                <nav class="clearfix">
                    <ul class="box-left float-left">
                        <li class="user">
                            <img src="./images/avatar_io.jpg" alt="user's picture" class="user-picture avatar">
                            <span class="user-name">Nome Utente</span>
                        </li>
                    </ul>
                    
                    <ul class="box-right float-left">
                        <li>
                            <i class="icon-size icon-color-light fas fa-circle-notch"></i>
                        </li>
                        <li>
                            <i class="icon-size icon-color-light fas fa-comment-alt"></i>
                        </li>
                        <li>
                            <i class="icon-size icon-color-light fas fa-ellipsis-v"></i>
                        </li>
                    </ul>
                </nav>

                <!-- notifiche -->
                <div class="notifications">
                    <div class="img-container">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="description">
                        <span>Ricevi notifiche di nuovi messaggi</span> <br>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- searchbar -->
                <div class="searchbar">
                    <div class="input-container">
                        <i class="icon-color-light fas fa-search"></i>
                        <input type="text" name="search" placeholder="Cerca o inizia una nuova chat" v-model="userSearch" @keyup="handleSearch">
                    </div>
                </div>

                <!-- lista contatti -->
                <div class="contacts-container">
                    <ul>
                        <li v-for="(contact, contactIndex) in contacts" v-if="contact.visible" @click="handleContactSelection(contact, contactIndex)">
                            <img class="contact-img avatar" :src="'./images/' + contact.avatar" alt="contact's picture">
                            <span class="contact-name">{{contact.name}}</span>
                        </li>
                    </ul>
                </div>

            </aside>

            <main class="main-container float-right">
                <!-- contiene navbar, lista smessaggi(box) -->
                <section class="main-top">

                    <!-- navbar -->
                    <nav class="clearfix">
                        <ul class="box-left float-left">
                            <li class="interlocutor-container">
                                <img class="avatar" :src="'./images/' + contacts[contactIndex].avatar" alt="Michele's picture">
                                <div class="interlocutor-details">
                                    <span class="interlocutor-name" v-model="">{{contacts[contactIndex].name}}</span> <br>
                                    <span class="interlocutor-access">Ultimo accesso oggi alle {{formatDate(jsDate(interlocutorLastAccess()))}}</span>
                                </div>
                            </li>
                        </ul>

                        <ul class="box-right float-right">
                            <li><i class="icon-size icon-color-light fa fa-search"></i></li>
                            <li><i class="icon-size icon-color-light fas fa-paperclip"></i></li>
                            <li><i class="icon-size icon-color-light fas fa-ellipsis-v"></i></li>
                        </ul>
                    </nav>

                    <!-- lista messaggi -->
                    <div class="messages-container">
                        <div v-for="(message, messageIndex) in contacts[contactIndex].messages" :class="{
                            message: true,
                            'my-message': message.status === 'sent',
                            'interlocutor-message': message.status === 'received',
                        }">
                            <span class="message-content">{{message.text}}</span>
                            <span class="message-time">{{formatDate(jsDate(message.date))}}</span>
                            <i v-if="message.status === 'sent'" class="fas fa-angle-down message-delete-opener" @click="handleDeleteOpener(messageIndex)"></i>
                            <div v-if="message.status === 'sent' && deleteVisible === 'yes'" class="message-delete">
                                <span @click="handleDelete(messageIndex)">Cancella messaggio</span>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- contiene input per messaggi -->
                <section class="main-bottom clearfix">
                    <div class="box-left float-left">
                        <i class="icon-size icon-color-dark far fa-smile"></i>
                    </div>
                    <div class="box-central float-left">
                        <input type="text" name="userMessage" id="userMessage" placeholder="Scrivi un messaggio" v-model="userMessage" @keyup.enter="handleSubmit(userMessage)">
                    </div>
                    <div class="box-right float-left">
                        <i class="icon-size icon-color-dark fas fa-microphone"></i>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>